# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist.do
node_modules


client/node_modules
client/.next

/.next


# dependencies
**/node_modules

# build output
**/dist/apps
dist
dist.do

mongo

/postgres
/redis



# Environment (contains sensitive data)
*.env

# Misc
.eslintrc.js
.prettierrc
README.md